<carousel [arrows]="false">
    
    <div class="carousel-cell">
        <button mat-raised-button class="button-reserva-de-hora" >RESERVA DE HORA</button>
    </div>
    <div class="carousel-cell">
        <button mat-raised-button class="button-telemedicina">TELEMEDICINA</button>
    </div>
    <div class="carousel-cell">
        <button mat-raised-button class="button-meds-healthy">MEDS HEALTHY</button>
    </div>
    <div class="carousel-cell">
        <button mat-raised-button class="button-meds-home">MEDS HOME</button>
    </div>
    <div class="carousel-cell">
        <button mat-raised-button class="button-meds-market"><mat-icon>local_grocery_store</mat-icon>MEDS MARKET</button>
    </div>
        
</carousel>
