<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Mi MEDS
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">Ignacio Rodriguez</h4>
        <p class="designation">Meds member</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)= showProfile()>
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon >today</mat-icon>
            <span>Resultados de exámenes</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Mis horas Médicas</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <app-carousel *ngIf="carousel" class="desktop-carousel"></app-carousel>
        <div *ngIf="!carousel" class="desktop-carousel">
            <button mat-raised-button class="button-reserva-de-hora" >RESERVA DE HORA</button>
            <button mat-raised-button class="button-telemedicina">TELEMEDICINA</button>
            <button mat-raised-button class="button-meds-healthy">MEDS HEALTHY</button>
            <button mat-raised-button class="button-meds-home">MEDS HOME</button>
            <button mat-raised-button class="button-meds-market"><mat-icon>local_grocery_store</mat-icon>MEDS MARKET</button>
        </div>
        <div class="content mat-elevation-z8">
            <div *ngIf="mainContent" class="principal-page">
                <app-principal-page></app-principal-page>
            </div>
            <div *ngIf="profile" class="profile">
                <app-profile ></app-profile>
            </div>
        </div>
    </mat-sidenav-content> 

</mat-sidenav-container>