<div class="meds-perfil-container">
  <div class="meds-informacion-personal mat-elevation-z8">
    <div class="meds-informacion-usario-logo">
      <mat-icon class="usuario-logo">account_circle</mat-icon>
    </div>
    <div class="meds-informacion-data">
      <h2 class="meds-informacion-nombre">Ignacio Rodríguez</h2>
      <span class="meds-informacion-adicional">Rut 17.123.123-1</span>
      <span class="meds-informacion-adicional">F. Nacimiento 11/07/1991</span>
    </div>
  </div>
  <div class="meds-informacion-personal meds-informacion-extra">
    <div class="meds-informacion-contacto mat-elevation-z8"></div>
    <div class="meds-informacion-contacto mat-elevation-z8"></div>
  </div>
</div>
