<div class="meds-perfil-container">
  <div class="meds-informacion-personal mat-elevation-z8">
    <div class="meds-informacion-usario-logo">
      <mat-icon class="usuario-logo">account_circle</mat-icon>
    </div>
    <div class="meds-informacion-data">
      <h2 class="meds-informacion-nombre">Ignacio Rodríguez</h2>
      <span class="meds-informacion-adicional">Rut 17.123.123-1</span>
      <span class="meds-informacion-adicional">F. Nacimiento 11/07/1991</span>
    </div>
  </div>
  <div class="meds-informacion-personal meds-informacion-extra">
    <div class="meds-informacion-contacto mat-elevation-z8">
      <h3 class="meds-informacion-datos-usuario"> 
        <mat-icon class="meds-informacion-datos-icon">badge</mat-icon>
        Datos del Usuario
      </h3>
      <h4 class="meds-informacion-datos-subtitle">Correo</h4>
      <span class="meds-informacion-datos-content">ignacio@gmail.com</span>
      <h4 class="meds-informacion-datos-subtitle">Teléfono</h4>
      <span class="meds-informacion-datos-content">+569 12345678</span>
      <h4 class="meds-informacion-datos-subtitle">Convenio Meds</h4>
      <span class="meds-informacion-datos-content">CONVENIO ASOCIADO</span>
    </div>
    <div class="meds-informacion-contacto mat-elevation-z8">
      <h3 class="meds-informacion-datos-usuario">
        <mat-icon class="meds-informacion-datos-icon">home</mat-icon>
        Dirección
      </h3>
      <h4 class="meds-informacion-datos-subtitle">Dirección</h4>
      <span class="meds-informacion-datos-content">VESPUCIO 2469</span>
      <h4 class="meds-informacion-datos-subtitle">Comuna</h4>
      <span class="meds-informacion-datos-content">ÑUÑOA</span>
      <h4 class="meds-informacion-datos-subtitle">Región</h4>
      <span class="meds-informacion-datos-content">XIII REGIÓN METROPOLITANA DE SANTIAGO</span>
    </div>
  </div>
</div>
